<div class="col-lg-10 col-lg-offset-2">
  <md-tab-group>
    <md-tab label="Bénéficiaire">
      <div class="radio-phy-mor">
        <label>Type de Bénéficiare (*) :</label>
        <label>
          <md-radio-button color="primary">Physique</md-radio-button>
          <md-radio-button color="accent">Moral</md-radio-button>
        </label>
      </div>

      <app-contact-form></app-contact-form>
    </md-tab>
    <md-tab label="Demandeur">
      <app-contact-form></app-contact-form>
    </md-tab>
    <md-tab label="Adresse">
      <app-contact-form></app-contact-form>
    </md-tab>
    <md-tab label="Nom commercial">
      <app-contact-form></app-contact-form>
    </md-tab>
    <md-tab label="Activité">
      <app-contact-form></app-contact-form>
    </md-tab>
    <md-tab label="Appelation">
      <app-contact-form></app-contact-form>
    </md-tab>
    <md-tab label="PJ">
      <app-contact-form></app-contact-form>
    </md-tab>
    <md-tab label="Récapitulatif">
      <app-contact-form></app-contact-form>
    </md-tab>
  </md-tab-group>
</div>
